<!doctype html>
<html lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
	<script src="../lib/angular.js"></script>
    <script src="app.js"></script>
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body ng-app='ShoppingListApp'>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller='BuyListController as buyListCtrl'>
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="item in buyListCtrl.items">
          {{ item.quantity }} of {{ item.name }}
          <button ng-click="buyListCtrl.buyItem(item.name,item.quantity)">Bought</button>
     </ul>
     <div class="emptyMessage" ng-show='buyListCtrl.items.length === 0'>Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller='BoughtListController as boughtListCtrl'>
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in boughtListCtrl.items">
          Bought : {{ item.quantity }} of {{ item.name }}
     </ul>
     <div class="emptyMessage" ng-show='boughtListCtrl.items.length === 0'>Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>
